@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Robson Bold";
  src: url("/fonts/robson-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.text-effect {
  text-shadow: 4px 4px 0 #f89d5d;
  -webkit-text-stroke: 1px black;
  color: #fad85d;
}

.text-outline {
  -webkit-text-stroke: 1px #bdbdbd;
}

.button-shadow {
  -webkit-box-shadow: 0 0 5px 2px #000;
  -moz-box-shadow: 0 0 5px 2px #000;
  box-shadow: 0 0 5px 2px #000;
}

.text-ring {
  position: relative;
  --character-width: 1;
  --inner-angle: calc((360 / var(--total)) * 1deg);
  --radius: calc((var(--character-width, 1) / sin(var(--inner-angle))) * -1ch);
  color: var(--color, "#000");
}

.text-ring [style*="--index"] {
  font-size: calc(var(--font-size, 2) * 1rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
    rotate(calc(var(--inner-angle) * var(--index) * -1))
    translateY(var(--radius, -5ch));
  color: var(--color, "#000");
}

@media (prefers-reduced-motion: no-preference) {
  .text-ring {
    animation: spin 6s infinite linear;
  }
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}

.text-ring.paused {
  animation-play-state: paused;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  color: var(--color, "#000");
  border: 0;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
